body {
	background-color: rgb(255, 255, 204); /* Some light yellow*/
	font-family: "Verdana", serif;

}

h1, h2, h3, h4 {
	font-family: "Geirgua", serif;
	font-size: 3em;
	text-align: center;
}

p, ul {
	color: rgb(0, 0, 102); /* Dark Blue */
}


table, th, td{
	border: 1px solid black;
	padding: 5px;
	text-align: left;
}

#NavBar > li{
	list-style-type: none;

}

ul li {
	list-style-type: square;
}

li {
	padding: 5px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

em {
	color: rgb(0, 102, 0);
}


#circlebullet > li {
	list-style-type: circle;
}


#panda {
	border-radius: 100px;
}

#panda:hover {
	opacity: 0.5;
}

#HelloWorld {
	background-color: rgb(255, 153, 51);
	border-style: outset;
	margin-right: 250px;
	padding-left: 50px; 
}